/* styles.css */

* {
	font-family: Arial;
}

.jersey-10-regular, h1 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
font-size; 3em
}

body {
	margin: 100px auto;
	width: 500px;
}
